html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

table {
  width: 100%;
  font-size: 1.5rem;
  border-spacing: 10px;
}

th,
td {
  border: 4px solid #e6e6e6;
  padding: 20px;
  transition: all 0.3s;
}

th {
  text-align: left;
  cursor: pointer;
}

th:hover {
  background-color: #e6e6e6;
}

th.over {
  border: 4px dashed #bbb;
}

th.dragged {
  opacity: 0.5;
}

[data-id="col1"] {
  background-color: #fff2e8;
  color: #d4380d;
}

[data-id="col2"] {
  background-color: #f6ffed;
  color: #389e0d;
}

[data-id="col3"] {
  background-color: #f0f5ff;
  color: #1d39c4;
}
